*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.text{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(Images/Background.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: none;
    padding-right: none;
}

.logo{
    color: white;
    font-size: 30px;
}

span{
    color: red;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a{
    color: #2b2c2c;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: white;
    transition: .3s;
}

button{
    border: none;
    background: red;
    padding: 8px 24px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 1s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{
    color: #2b2c2c;
    transition: .3s;
}

.wrapper{
    width:100%;
}

.wrapper .container{
    padding-top: 10px;
}

.wrapper .container .hero-section{
    width:80%;
    margin:0px auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.wrapper .container .hero-section .gallery{
    width: 100%;
    position: relative;
}

.wrapper .container .hero-section .gallery .image-section{
    width: 100%;

}

.wrapper .container .hero-section .gallery .image-section img{
    width: 100%;
    height: auto;
    border: 3px solid black;
    padding: 5px;
    display: block;
}

.wrapper .container .hero-section .gallery .caption{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgba(255,255,255,0.5);
    color: #222;
    opacity: 0;
    transition: opacity 0.3s;
}

.wrapper .container .hero-section .gallery .caption:hover{
    opacity: 1;
}

.wrapper .container .hero-section .gallery .caption p{
    font-size: 16px;
}

@media screen and (max-width: 992px){
    .wrapper .container .hero-section{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px){
    .wrapper .container .hero-section{
        grid-template-columns: 1fr;
    }
}